.flows.json.backup
[
    {
        "id": "c6af2b852a417e76",
        "type": "tab",
        "label": "MyStrom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51e7d3b10f18b555",
        "type": "group",
        "z": "c6af2b852a417e76",
        "name": "turn off",
        "style": {
            "label": true
        },
        "nodes": [
            "41eab0697ad6bb68",
            "c02fe46fb7b66a98",
            "69a57ee43940a624",
            "2d649e16871ac738",
            "b1f9b5df64cbd46a",
            "61d2395ecfa4641a",
            "168fa4951bcb0d21"
        ],
        "x": 194,
        "y": 99,
        "w": 952,
        "h": 142
    },
    {
        "id": "2b045583c07a4680",
        "type": "group",
        "z": "c6af2b852a417e76",
        "name": "turn on",
        "style": {
            "label": true
        },
        "nodes": [
            "b33b6197e8172afa",
            "08ac74cee735f6cd",
            "8ff61dec49dd393b",
            "7b16888f2458f853",
            "cc21feb8b89b1425",
            "23116c068bda183c",
            "5f808fd08cde76b4",
            "49488bb80bb880f5",
            "aa7d807f1ddd4a05"
        ],
        "x": 194,
        "y": 279,
        "w": 692,
        "h": 322
    },
    {
        "id": "holiday_morning",
        "type": "group",
        "z": "c6af2b852a417e76",
        "name": "Holiday Morning 6-8am",
        "style": {
            "label": true
        },
        "nodes": [
            "inject_morning",
            "function_morning",
            "http_morning",
            "debug_morning",
            "c7229da81fdd17d5"
        ],
        "x": 234,
        "y": 919,
        "w": 1052,
        "h": 82
    },
    {
        "id": "holiday_evening",
        "type": "group",
        "z": "c6af2b852a417e76",
        "name": "Holiday Evening 18-20pm",
        "style": {
            "label": true
        },
        "nodes": [
            "inject_evening",
            "function_evening",
            "http_evening",
            "debug_evening",
            "752f414d15c85e6a"
        ],
        "x": 234,
        "y": 1119,
        "w": 1052,
        "h": 82
    },
    {
        "id": "41eab0697ad6bb68",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "g": "51e7d3b10f18b555",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 22-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "c02fe46fb7b66a98"
            ]
        ]
    },
    {
        "id": "c02fe46fb7b66a98",
        "type": "http request",
        "z": "c6af2b852a417e76",
        "g": "51e7d3b10f18b555",
        "name": "GET REPORT",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.196/report",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "2d649e16871ac738",
                "61d2395ecfa4641a"
            ]
        ]
    },
    {
        "id": "69a57ee43940a624",
        "type": "debug",
        "z": "c6af2b852a417e76",
        "g": "51e7d3b10f18b555",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 140,
        "wires": []
    },
    {
        "id": "2d649e16871ac738",
        "type": "function",
        "z": "c6af2b852a417e76",
        "g": "51e7d3b10f18b555",
        "name": "check power",
        "func": "if(msg.payload.power < 60){\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 140,
        "wires": [
            [
                "b1f9b5df64cbd46a"
            ]
        ]
    },
    {
        "id": "b1f9b5df64cbd46a",
        "type": "http request",
        "z": "c6af2b852a417e76",
        "g": "51e7d3b10f18b555",
        "name": "TURN OFF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.196/relay?state=0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 140,
        "wires": [
            [
                "69a57ee43940a624"
            ]
        ]
    },
    {
        "id": "61d2395ecfa4641a",
        "type": "debug",
        "z": "c6af2b852a417e76",
        "g": "51e7d3b10f18b555",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "168fa4951bcb0d21",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "g": "51e7d3b10f18b555",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 0-3 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "c02fe46fb7b66a98"
            ]
        ]
    },
    {
        "id": "b33b6197e8172afa",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "g": "2b045583c07a4680",
        "name": "MONDAY",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "45 06 * * 1",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "8ff61dec49dd393b"
            ]
        ]
    },
    {
        "id": "08ac74cee735f6cd",
        "type": "debug",
        "z": "c6af2b852a417e76",
        "g": "2b045583c07a4680",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "8ff61dec49dd393b",
        "type": "http request",
        "z": "c6af2b852a417e76",
        "g": "2b045583c07a4680",
        "name": "TURN ON",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.196/relay?state=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 420,
        "wires": [
            [
                "08ac74cee735f6cd"
            ]
        ]
    },
    {
        "id": "7b16888f2458f853",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "g": "2b045583c07a4680",
        "name": "TUESDAY",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "55 06 * * 2",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "8ff61dec49dd393b"
            ]
        ]
    },
    {
        "id": "cc21feb8b89b1425",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "g": "2b045583c07a4680",
        "name": "WEDNESDAY",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "55 06 * * 3",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "8ff61dec49dd393b"
            ]
        ]
    },
    {
        "id": "23116c068bda183c",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "g": "2b045583c07a4680",
        "name": "THURSDAY",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "40 07 * * 4",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "8ff61dec49dd393b"
            ]
        ]
    },
    {
        "id": "5f808fd08cde76b4",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "g": "2b045583c07a4680",
        "name": "FRIDAY",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "50 06 * * 5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "8ff61dec49dd393b"
            ]
        ]
    },
    {
        "id": "49488bb80bb880f5",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "g": "2b045583c07a4680",
        "name": "SATURDAY",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * 6",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "8ff61dec49dd393b"
            ]
        ]
    },
    {
        "id": "aa7d807f1ddd4a05",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "g": "2b045583c07a4680",
        "name": "SUNDAY",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * 0",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "8ff61dec49dd393b"
            ]
        ]
    },
    {
        "id": "inject_morning",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "d": true,
        "g": "holiday_morning",
        "name": "Daily 6:00 trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "function_morning"
            ]
        ]
    },
    {
        "id": "function_morning",
        "type": "function",
        "z": "c6af2b852a417e76",
        "g": "holiday_morning",
        "name": "Random ON/OFF 6-8am",
        "func": "// Random ON time between 6:00-8:00\nlet now = new Date();\nlet onMinutes = Math.floor(Math.random() * 120);\nlet onTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 6, 0, 0);\nonTime.setMinutes(onTime.getMinutes() + onMinutes);\n\n// Random OFF duration 1-3 hours (60-180 min)\nlet offMinutes = 60 + Math.floor(Math.random() * 120);\nlet offTime = new Date(onTime.getTime() + offMinutes * 60000);\n\n// Send ON message\nlet msgOn = { delay: onTime.getTime() - now.getTime(), url: 'http://192.168.0.196/relay?state=1' };\nnode.send(msgOn);\n\n// Send OFF message\nlet msgOff = { delay: offTime.getTime() - now.getTime(), url: 'http://192.168.0.196/relay?state=0' };\nnode.send(msgOff);\n\nreturn null;",
        "outputs": 1,
        "x": 590,
        "y": 960,
        "wires": [
            [
                "c7229da81fdd17d5"
            ]
        ]
    },
    {
        "id": "http_morning",
        "type": "http request",
        "z": "c6af2b852a417e76",
        "g": "holiday_morning",
        "name": "Send ON/OFF",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 1040,
        "y": 960,
        "wires": [
            [
                "debug_morning"
            ]
        ]
    },
    {
        "id": "debug_morning",
        "type": "debug",
        "z": "c6af2b852a417e76",
        "g": "holiday_morning",
        "name": "Debug",
        "active": true,
        "complete": "true",
        "x": 1190,
        "y": 960,
        "wires": []
    },
    {
        "id": "inject_evening",
        "type": "inject",
        "z": "c6af2b852a417e76",
        "d": true,
        "g": "holiday_evening",
        "name": "Daily 18:00 trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "function_evening"
            ]
        ]
    },
    {
        "id": "function_evening",
        "type": "function",
        "z": "c6af2b852a417e76",
        "g": "holiday_evening",
        "name": "Random ON/OFF 18-20",
        "func": "// Random ON time between 18:00-20:00\nlet now = new Date();\nlet onMinutes = Math.floor(Math.random() * 120);\nlet onTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 18, 0, 0);\nonTime.setMinutes(onTime.getMinutes() + onMinutes);\n\n// Random OFF duration 1-3 hours (60-180 min)\nlet offMinutes = 60 + Math.floor(Math.random() * 120);\nlet offTime = new Date(onTime.getTime() + offMinutes * 60000);\n\n// Send ON message\nlet msgOn = { delay: onTime.getTime() - now.getTime(), url: 'http://192.168.0.196/relay?state=1' };\nnode.send(msgOn);\n\n// Send OFF message\nlet msgOff = { delay: offTime.getTime() - now.getTime(), url: 'http://192.168.0.196/relay?state=0' };\nnode.send(msgOff);\n\nreturn null;",
        "outputs": 1,
        "x": 590,
        "y": 1160,
        "wires": [
            [
                "752f414d15c85e6a"
            ]
        ]
    },
    {
        "id": "http_evening",
        "type": "http request",
        "z": "c6af2b852a417e76",
        "g": "holiday_evening",
        "name": "Send ON/OFF",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 1020,
        "y": 1160,
        "wires": [
            [
                "debug_evening"
            ]
        ]
    },
    {
        "id": "debug_evening",
        "type": "debug",
        "z": "c6af2b852a417e76",
        "g": "holiday_evening",
        "name": "Debug",
        "active": true,
        "complete": "true",
        "x": 1190,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c7229da81fdd17d5",
        "type": "delay",
        "z": "c6af2b852a417e76",
        "g": "holiday_morning",
        "name": "Wait until random time",
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "ms",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "0",
        "randomUnits": "ms",
        "drop": false,
        "outputs": 1,
        "x": 840,
        "y": 960,
        "wires": [
            [
                "http_morning"
            ]
        ]
    },
    {
        "id": "752f414d15c85e6a",
        "type": "delay",
        "z": "c6af2b852a417e76",
        "g": "holiday_evening",
        "name": "Wait until random time",
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "ms",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "0",
        "randomUnits": "ms",
        "drop": false,
        "outputs": 1,
        "x": 820,
        "y": 1160,
        "wires": [
            [
                "http_evening"
            ]
        ]
    },
    {
        "id": "61748c85506ec794",
        "type": "cronplus",
        "z": "c6af2b852a417e76",
        "name": "",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "solar",
                "expression": "0 0 2 29 FEB * 2020/4",
                "location": "47.47766066683894 8.204920291900635",
                "offset": "0",
                "solarType": "selected",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 300,
        "y": 700,
        "wires": [
            []
        ]
    }
]